#Layer2{
    display: none;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: black;
    line-height: 1.6;
}
img{
    display: none;
}
.linkShapePosition{
    display: none;
}
#greeting{
    text-align: center;
    width: 506px;
    margin: 0 auto;
}
.shape{
    display: flex;
    text-align: center;
    margin: 0 auto;
}
.inShape{
    width: 400px;
    margin: 0 auto;
}
#shape3{
    width: 410px;
}
#wrapper{
    margin: 0 auto;
    width: 1000px;
}
#choosing{
    display: none;
}